@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Sawarabi+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #4caf50,
    #2196f3
  ); /* Example gradient, you can customize these colors */
  color: #fff;
  font-family: "Sawarabi Gothic", sans-serif;
}

h1 {
  font-family: "Sawarabi Gothic", sans-serif;
}
